<div class="todo-list">
  <div
    *ngFor="let todo of todos"
    cdkDrag
    class="todo-item"
    [class.completed]="todo.completed"
  >
    <div class="content">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="todoService.toggleTodo(todo.id)"
      />
      <span>{{ todo.title }}</span>
    </div>
    <div class="actions">
      <button class="edit-btn" (click)="todoService.openEditModal(todo)">
        ✎
      </button>
      <button class="delete-btn" (click)="todoService.deleteTodo(todo.id)">
        ✕
      </button>
    </div>
  </div>
</div>
